/* Connect fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rubik&family=Montserrat&display=swap');

/* Connect fonts */

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    opacity: 0.25;
}

/* Header */

header {
    width: 100%;
    background: #131620;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    padding-bottom: 200px;
    background-image: url(images/Smoke.png);
    background-size: 900px 102%;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFFE5;
    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.connect_wallet_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(98.75deg, #277DD4 -34.3%, #3D7B9C 111.29%);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFFE5;
}

.connect_wallet_button .wallet-icon{
    width: 18px;
    height: 18px;
}

nav .menu {
    width: 400px;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}

nav .menu span {
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
    opacity: 0.8;
}

nav .menu span:hover {
    background: rgba(206, 207, 209, 0.15);
    opacity: 1;
}

nav .mobile-menu-icon {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header .menu-hr {
    position: absolute;
    top: 55px;
    width: 70%;
    color: rgba(255, 255, 255, 0.25);
}

header .menu-options {
    position: absolute;
    width: 70%;
    height: 50px;
    background: #131620;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 0px 0px 20px 20px / 0px 0px 20px 20px;
    top: 64px;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header .menu-options a {
    height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    gap: 10px;
    padding: 0px 10px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 15px;
}

header .menu-options a:hover {
    background: rgba(206, 207, 209, 0.15);
}

header .menu-options a img {
    height: 20px;
}

header .menu-options a ion-icon {
    transform: scale(1.2);
}

header .mobile-menu {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #171A24;
    display: none;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
}

header .mobile-menu span {
    padding: 15px;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 18px;
}

header .mobile-menu span:hover {
    background: rgba(206, 207, 209, 0.15);
    opacity: 1;
}

header .text-best {
    font-size: 48px;
    color: #FFFFFF;
    z-index: 1;
}

header .text-regular {
    font-size: 26px;
    color: #FFFFFF66;
    z-index: 1;
}

header .card {
    position: relative;
    padding: 0px 20px;
    width: 440.64px;
    height: 322.72px;
    top: 30px;
    background: linear-gradient(126.43deg, #FFFFFF 0%, #DADADA 135.39%);
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    transform: matrix(1, -0.21, -0.03, 0.98, 0, 0);
    z-index: 2;
}

header .card #card-name {
    font-size: 23px;
}

header .card img {
    transform: matrix(1, 0.15, -0.03, 0.98, 0, 0);
    position: relative;
    top: 85px;
    left: 370px;
}

header .card-behind {
    position: absolute;
    width: 480.64px;
    height: 322.72px;
    top: 363px;
    margin-left: 10px;
    background: linear-gradient(45deg, #585858 0%, #ffffff 135.39%);
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    transform: matrix(1, -0.21, -0.03, 0.98, 0, 0);
    z-index: 1;
}

header .card #card-date {
    position: relative;
    top: 140px;
    left: 30px;
    font-size: 20px;
}

header .phrases {
    position: relative;
    width: 60%;
    min-width: 250px;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 100px;
}

header .phrases div {
    position: relative;
    width: 250px;
    font-size: 26px;
    color: #FFFFFF;
}

header .phrases div hr {
    position: relative;
    width: 105%;
    color: #FFFFFF40;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}

main #swap-title {
    font-size: 36px;
    color: #131620;
    margin-bottom: 10px;
}

main .swap-text {
    font-weight: 900;
    font-size: 22px;
    color: rgba(19, 22, 32, 0.8);
    margin: 0;
}

main #swap-link {
    color: #277DD4;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 7px 3px 7px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 2;
}

main #swap-link:hover {
    background: rgba(94, 94, 94, 0.15);
}

main #swap-link ion-icon {
    width: 23px;
    height: 23px;
    transition: 0.6s;
}

main #swap-link:hover ion-icon {
    transform: rotate(360deg);
}

/* Explosion */

main .explosion {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 700px;
    max-height: 700px;
    overflow: hidden;
    padding: 0% 5% 0% 5%;
}

main .explosion .eth {
    position: relative;
    margin-right: 70px;
}

main .explosion .explosion-element {
    position: relative;
    width: 30%;
    top: 200px;
    right: 8%;
}

main .explosion .explosion-element .explosion-image {
    position: relative;
    transform: scale(0.9);
}

main .explosion .explosion-element .coin {
    position: relative;
    top: -600px;
    left: 160px;
    transform: scale(0.9);
}

main .explosion .bnb .coin, main .explosion .matic .coin {
    z-index: 2;
}

main .explosion .eth .coin {
    z-index: 3;
}

main .explosion .bnb .explosion-image, main .explosion .matic .explosion-image {
    z-index: 0;
}

main .explosion .eth .explosion-image {
    z-index: 1;
}

/* Other */

main .phrases {
    position: relative;
    width: 60%;
    min-width: 250px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

main .phrases div {
    position: relative;
    width: 250px;
    font-size: 26px;
    color: #000000;
}

main .phrases div hr {
    position: relative;
    width: 105%;
    color: #00000040;
}

/* Flipping blocks */

main .flipping-blocks {
    position: relative;
    width: 90%;
    max-width: 1100px;
    top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.flip-container {
	perspective: 2000px;
    margin-bottom: 50px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.front .front-flip-button, .back .back-flip-button {
    margin: 0px 20px 20px 0px;
    transform: rotate(-70deg);
    transition: 0.4s;
    border-radius: 40px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.front .front-flip-button:hover, .back .back-flip-button:hover {
    box-shadow: 0px 0px 10px 0px #000000;
}

.back {
	transform: rotateY(180deg);
}

main .flip-container, main .front, main .back {
	width: 500px;
	height: 700px;
}

main .front {
    background-size: 500px 700px;
    color: #FFFFFF;
    font-size: 65px;
}

main .front p {
    margin: 85px;
}

main .back {
    background-color: #FFFFFF;
    font-size: 65px;
}

main .back h1 {
    font-size: 65px;
    margin: 85px 85px 30px 85px;
}

main .back p {
    font-size: 43px;
    margin: 0px 85px 10px 85px;
}

main .back .connect_wallet_button {
    margin-left: 85px;
    width: 160px;
    height: 50px;
    font-size: 22px;
}

main .back .wallet-icon {
    transform: scale(1.3);
}

.flipper .liquidity {
    background: url(images/flip-liquidity.png);
}

.flipper .trade {
    background: url(images/flip-trade.png);
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

footer .footer-block {
    position: relative;
    width: 90%;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-block .flip-container, footer .footer-block .back, footer .footer-block .front{
    width: 100%;
    height: 550px;
    border-radius: 40px;
}

footer .front, footer .back {
    background-color: #131620;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.useful-info {
    margin: 55px 10% 0px 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.useful-info .info-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 250px;
}

.useful-info .info-block a, .useful-info .info-block p {
    color: #FFFFFFB2;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

footer .socials {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

footer .socials img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

footer .license {
    position: absolute;
    width: 80%;
    top: 470px;
    margin: 0px 80px 10px 80px;
}

footer .license hr {
    border: 1px solid #D9D9D940;
    position: relative;
}

footer .license p {
    position: relative;
    color: #FFFFFF40;
}

footer .back .email-info {
    margin: 80px;
}

footer .back .email-info div {
    display: flex;
    align-items: center;
    font-size: 60px;
    gap: 30px;
}

footer .email-info #text {
    color: #FFFFFF80;
    font-size: 20px;
}

footer .back .email-info div p {
    margin: 0;
}

footer .back .email-info div img {
    position: relative;
    height: 60px;
    width: 60px;
}

footer .back .email-info input[type="email"] {
    width: 380px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.4s;
}

footer .back .email-info input[type="email"]:focus {
    border-radius: 20px;
}

footer .front .info-block #news-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #277DD4;
    width: 80px;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 2;
    font-size: 22px;
}

footer .front .info-block #news-link:hover {
    background: rgba(94, 94, 94, 0.15);
}

footer .front .info-block #news-link ion-icon {
    width: 23px;
    height: 23px;
    transition: 0.6s;
}

footer .front .info-block #news-link:hover ion-icon {
    transform: rotate(360deg);
}

footer .container {
    width: 500px;
	height: 700px;
    background-color: #131620;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    display: none;
}

footer .container .useful-info {
    margin: 30px 10% 350px 10%;
    width: 80%;
}

footer .container .license {
    position: relative;
    top: 0px;
}

.blur {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    opacity: 0.7;
    z-index: 3;
}

/* Adaptation */

@media screen and (max-width: 1500px) {
    main .explosion .explosion-element {
        right: 10%;
    }
}

@media screen and (max-width: 1300px) {
    main .explosion .explosion-element {
        right: 14%;
    }
}

@media screen and (max-width: 1100px) {
    main .explosion .explosion-element {
        right: 18%;
    }
}

@media screen and (max-width: 1000px) {
    main .explosion .explosion-element {
        right: 22%;
    }
}

@media screen and (max-width: 900px) {
    nav {
        width: 90%;
    }
    
    nav .none {
        display: none;
    }

    nav .mobile-menu-icon {
        display: block;
    }

    header .menu-hr {
        width: 90%;
    }

    main .explosion .bnb, main .explosion .matic {
        display: none;
    }

    main .explosion .eth {
        margin-right: 200px;
    }

    footer .container {
        display: flex;
    }

    footer .flip-container .none {
        display: none;
    }

    footer .footer-block {
        width: 500px;
    }
    
    footer .footer-block .flip-container, footer .footer-block .back, footer .footer-block .front{
        width: 100%;
        height: 700px;
    }

    footer .back .email-info {
        margin: 80px 10% 0px 10%;
    }

    footer .back .email-info div {
        font-size: 50px;
    }

    footer .flip-container .useful-info {
        flex-direction: column-reverse;
        margin: 55px 0% 0px 20%;
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    main .explosion .eth {
        margin-right: 300px;
    }
}

@media screen and (max-width: 700px) {
    main .explosion .eth {
        margin-right: 400px;
    }
}

@media screen and (max-width: 600px) {
    header .card, header .card-behind {
        transform: matrix(0.9, -0.21, -0.03, 0.882, 0, 0);
    }

    main .explosion {
        min-height: 570px;
        max-height: 570px;
    }

    main .explosion .eth {
        transform: scale(0.85);
        margin-right: 350px;
    }

    main .explosion .explosion-element {
        top: 180px;
    }
    
    main .flip-container, main .front, main .back {
        width: 400px;
        height: 600px;
    }
    
    main .front {
        background-size: 400px 600px;
        font-size: 60px;
    }
    
    main .front p {
        margin: 65px;
    }
    
    main .back {
        font-size: 60px;
    }
    
    main .back h1 {
        font-size: 60px;
        margin: 65px 65px 20px 65px;
    }
    
    main .back p {
        font-size: 35px;
        margin: 0px 65px 10px 65px;
    }
    
    main .back .connect_wallet_button {
        margin-left: 65px;
    }

    footer .footer-block {
        width: 400px;
    }
    
    footer .footer-block .flip-container, footer .footer-block .back, footer .footer-block .front{
        height: 600px;
    }

    footer .flip-container .useful-info {
        margin: 50px 0% 0px 17%;
        width: 83%;
    }

    footer .back .email-info {
        margin: 70px 10% 0px 10%;
    }

    footer .back .email-info div {
        font-size: 40px;
    }

    footer .back .email-info input[type="email"] {
        width: 280px;
        height: 50px;
    }

    footer .container {
        width: 400px;
        height: 600px;
    }
    
    footer .container .useful-info {
        margin: 30px 10% 250px 10%;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    header .card, header .card-behind {
        transform: matrix(0.7, -0.21, -0.03, 0.686, 0, 0);
    }

    main .explosion {
        min-height: 500px;
        max-height: 500px;
    }
    
    main .explosion .explosion-element {
        top: 150px;
    }

    main .explosion .eth {
        transform: scale(0.7);
        margin-right: 300px;
    }

    main .flip-container, main .front, main .back {
        width: 350px;
        height: 550px;
    }
    
    main .front {
        background-size: 350px 550px;
        font-size: 55px;
    }
    
    main .front p {
        margin: 55px;
    }
    
    main .back {
        font-size: 55px;
    }
    
    main .back h1 {
        font-size: 55px;
        margin: 55px 55px 15px 55px;
    }
    
    main .back p {
        font-size: 30px;
        margin: 0px 55px 10px 55px;
    }
    
    main .back .connect_wallet_button {
        margin-left: 55px;
    }

    footer .footer-block {
        width: 350px;
    }
    
    footer .footer-block .flip-container, footer .footer-block .back, footer .footer-block .front{
        height: 550px;
    }

    footer .back .email-info {
        margin: 50px 10% 0px 10%;
    }

    footer .back .email-info div {
        font-size: 33px;
    }

    footer .back .email-info input[type="email"] {
        width: 230px;
        height: 45px;
        font-size: 18px;
    }

    footer .container {
        width: 350px;
        height: 550px;
    }
    
    footer .container .useful-info {
        margin: 30px 10% 200px 10%;
        width: 80%;
    }

    footer .container .license {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    main .explosion {
        min-height: 400px;
        max-height: 400px;
    }
    
    main .explosion .explosion-element {
        top: 100px;
    }

    main .explosion .eth {
        transform: scale(0.55);
        margin-right: 250px;
    }
}

/* Animations */

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}